<%- include('../partials/titles', { title: title, botones: botones }) %>
<%- include('../partials/messages') %>
  <!-- Main content -->
  <section class="content">

  <!-- Default box -->
  <div class="card">
       
    <div class="card-body">
      Start creating your amazing application!
    </div>
        
    <!-- /.card-footer-->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->