<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/admin" class="brand-link">
      <i class="fas fa-compass ml-3 mr-2"></i>
      <span class="brand-text font-weight-light">Tours Riviera</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column">
          <li class="nav-item">
            <a href="/admin" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/reservas" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>Reservas</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/transportacion" class="nav-link">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>Transportación</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/tours" class="nav-link">
              <i class="nav-icon fas fa-compass"></i>
              <p>Tours</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/transfer-rates" class="nav-link">
              <i class="nav-icon fas fa-dollar-sign"></i>
              <p>Tarifas </p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/hotels" class="nav-link">
              <i class="nav-icon fas fa-hotel"></i>
              <p>Hoteles</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/admin/zones" class="nav-link">
              <i class="nav-icon fas fa-map-marked-alt"></i>
              <p>Zonas</p>
            </a>
          </li>


          <li class="nav-item">
            <a href="/admin/usuarios" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Usuarios</p>
            </a>
          </li>
          <!-- más menús -->
        </ul>
      </nav>
    </div>
</aside>