<section class="legal-container">
    <h1><%= __('legal.terms_title') %></h1>
    <pre class="legal-text"><%= __('legal.terms_content') %></pre>
    <a href="/" class="btn-volver"><%= __('legal.legalButton') %></a>
</section>